Django==5.1.4
django-cors-headers==4.3.1
django-model-utils==4.4.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
python-dotenv==1.0.1
psycopg2==2.9.9
pillow==10.2.0
drf-yasg==1.21.10
uvicorn==0.29.0
