<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restablecer Contraseña</title>
    <style>
      .code {
        font-weight: bold;
      }
      * {
        box-sizing: border-box;
      }
      .email-container {
        max-width: 600px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        color: #0f0f0f;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <h2 style="color: #363636">Reestablecimiento de contraseña</h2>
      <p>Hola,</p>
      <p>
        Recibes este correo electrónico porque recibimos una solicitud de
        reestablecimiento de contraseña para tu cuenta.
      </p>
      <p>
        Accede al siguiente enlace para realizar el reestablecimiento de la
        contraseña
      </p>
      <div style="margin-top: 16px; margin-bottom: 16px">
        <a
          href="{{ reset_password_url }}"
          style="
            background-color: #363636;
            color: #fff;
            padding: 20px 20px;
            text-decoration: none;
            border-radius: 5px;
          "
        >
          Recuperar contraseña
        </a>
      </div>
      <p>
        Si no solicitaste este reestablecimiento, por favor ignora este correo
        electrónico.
      </p>
      <p>Un saludo,</p>
      <p>El equipo de Skootik</p>
    </div>
  </body>
</html>
